.movieContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.geners {
  display: flex;
  gap: 10px;
}
.addInfo {
  padding-left: 20px;
}
.addInfoContainer {
  font-size: 18px;
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.goBack {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.iconGoBack {
  width: 50px;
  height: 50px;
}
.moviePoster {
  border-radius: 5px;
}
.addInfoLink {
  color: black;
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}
.addInfoLink:hover {
  color: tomato;
}
