.actorsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 69px;
}
.actorItem {
  width: 300px;
  scale: 1;
  transition: scale 300ms ease-in-out;
  cursor: pointer;
}

.actorItem:hover {
  scale: 1.05;
}
